name: file_manager
description: A new Flutter package project.
version: 0.0.1
author:
homepage:
environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  file_chooser:
    path: ../packages/file_chooser
  path: any
  universal_html: ^1.1.12

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
